---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>A propos</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/about/">À propos</a></li>
				<li><a href="/blog/">Blog</a></li>
			</ul>
		</nav>
        <h1>À propos de moi</h1>
        <h2>... et de mon nouveau site Astro !</h2>
	</body>
</html>
