---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>A propos</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Accueil</a></li>
				<li><a href="/about/">À propos</a></li>
				<li><a href="/blog/">Blog</a></li>
			</ul>
		</nav>
		<h1>Mon blog d'apprentissage Astro</h1>
		<p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
	</body>
</html>
